{% if menu %}
	<ul class="nav-list">
	{% for key, item in menu %}
		<li class="nav-item inline {{item.classes | join(' ') }}">
      {% if key == 3 %}
        <a href="{{url}}">
          <img src="{{image_header|resize(40, 40)}}" alt="">
        </a>
      </li>
      <li class="nav-item inline {{item.classes | join(' ') }}">
      {% endif %}
			<a href="{{item.get_link}}">{{item.title | upper}}</a>
			{% include "menu.twig" with {'menu': item.get_children, 'url': url} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
